<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title><%= pageTitle %></title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon.png">
    <!-- Remix icons -->
    <link rel="stylesheet" href="./fa/css/font-awesome.min.css">
    <!-- Swiper.js styles -->
    <link rel="stylesheet" href="/css/swiper-bundle.min.css"/>
    <!-- Custom styles -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/signup.css">

</head>
<body>
    <%- include('./includes/heading.ejs') %>

    <main class="product-form">
        
        <form class="login-form" action="/admin" method="POST" >
            <div class="form-control">
                <label for="title">Title</label>
                <input 
                    type="text" 
                    name="title" 
                    id="title" 
                    value="">
            </div>
            <!-- <div class="form-control">
                <label for="image">Image</label>
                <input 
                    type="file" 
                    name="image" 
                    id="image" >
            </div> -->
            <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input 
                    type="text" 
                    name="imageUrl" 
                    id="imageUrl" 
                    value="">
            </div>
            <div class="form-control">
                <label for="category">Category</label>
                <input 
                type="text" 
                name="category" 
                id="category" 
                value="" >
            </div>
            <div class="form-control">
                <label for="topic">Topic</label>
                <input 
                type="text" 
                name="topic" 
                id="topic" 
                value="" >
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea 
                    
                    name="description" 
                    id="description" 
                    rows="5"></textarea>
            </div>

            
            <button class="btn" type="submit">Add Post</button>
        </form>
    </main>

    

    <!-- Footer -->
    <%- include('./includes/footer.ejs') %>

    <!-- Swiper.js -->
    <script src="./js/swiper-bundle.min.js"></script>
    <!-- Custom script -->
    <script src="/js/main.js"></script>
</body>
</html>


