<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Custom styles -->
    <link rel="stylesheet" href="/css/signup.css">
    <title><%= pageTitle%></title>
</head>
<body>
        <!-- Header -->
        <header class="header" id="header">

            <nav class="navbar container">
                <a href="./index.html">
                    <h2 class="logo">Business Update</h2>
                </a>
            </nav>
    
        </header>

    <main>
        <form class="login-form" action="/reset" method="POST">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input 
                    type="email" 
                    name="email" 
                    id="email" >
            </div>
            <!-- <div class="form-control">
                <label for="password">New Password</label>
                <input 
                    type="password" 
                    name="password" 
                    id="password" >
            </div> -->
            <button class="btn" type="submit">Reset Password</button>
        </form>
        <!-- <div class="centered">
            <a href="/reset">Reset Password</a>
        </div> -->
    </main>
</body>
</html>