<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed - Business Update | Home</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon.png">
    <!-- Remix icons -->
    <link rel="stylesheet" href="./fa/css/font-awesome.min.css">
    <!-- Swiper.js styles -->
    <link rel="stylesheet" href="./css/swiper-bundle.min.css"/>
    <!-- Custom styles -->
    <link rel="stylesheet" href="/css/signup.css">
    <!-- <link rel="stylesheet" href="/css/main.css"> -->
</head>
<body>
    <!-- Header -->
    <header class="header" id="header">

        <nav class="navbar container">
            <a href="./index.html">
                <h2 class="logo">Business Update</h2>
            </a>
        </nav>

    </header>
    
    <main>
        <% if (errorMessage) {%>
            <div class="user-message user-meesage--error">
                <%= errorMessage %>
            </div>
        <%}%>
        <form class="login-form" action="/signup" method="post" >
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input 
                    type="email" 
                    name="email" 
                    id="email">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input 
                    type="password" 
                    name="password" 
                    id="password">
            </div>
            <div class="form-control">
                <label for="phone">Phone</label>
                <input 
                    type="phone" 
                    name="phone" 
                    id="phone">
            </div>
            <!-- <input type="hidden"> -->
            <button class="btn" type="submit">
                Signup
            </button>
            <button class="btn-home" type="submit">
                <a href="login">Login</a>
            </button>
        </form>
    </main>

    <!-- Custom script -->
    <script src="/main.js"></script>
</body>
</html>